.sprite1 .wall,
.sprite1 .player_floor,
.sprite1 .player_goal,
.sprite1 .box_floor,
.sprite1 .box_goal,
.sprite1 .goal,
.sprite1 .floor {
	background: url(sprite1.png) no-repeat;
}

.sprite2 .wall,
.sprite2 .player_floor,
.sprite2 .player_goal,
.sprite2 .box_floor,
.sprite2 .box_goal,
.sprite2 .goal,
.sprite2 .floor {
	background: url(sprite2.png) no-repeat;
}

.sprite1 .wall,
.sprite1 .player_floor,
.sprite1 .player_goal,
.sprite1 .box_floor,
.sprite1 .box_goal,
.sprite1 .goal,
.sprite1 .floor,
.sprite2 .wall,
.sprite2 .player_floor,
.sprite2 .player_goal,
.sprite2 .box_floor,
.sprite2 .box_goal,
.sprite2 .goal,
.sprite2 .floor {
	height: 64px;
	overflow: hidden;
	width: 64px;
}

.sprite1 .wall, .sprite2 .wall {
	background-position: 0 0;
}

.sprite1 .player_floor, .sprite2 .player_floor {
	background-position: -64px 0;
}

.sprite1 .player_goal, .sprite2 .player_goal {
	background-position: -128px 0;
}

.sprite1 .box_floor, .sprite2 .box_floor {
	background-position: -192px 0;
}

.sprite1 .box_goal, .sprite2 .box_goal {
	background-position: -256px 0;
}

.sprite1 .goal, .sprite2 .goal {
	background-position: -320px 0;
}

.sprite1 .floor, .sprite2 .floor {
	background-position: -384px 0;
}