.wall,
.player_floor,
.player_goal,
.box_floor,
.box_goal,
.goal,
.floor,
.wall,
.player_floor,
.player_goal,
.box_floor,
.box_goal,
.goal,
.floor {
	height: 64px;
	overflow: hidden;
	width: 64px;
}

.wall {
	background-position: 0 0;
}

.player_floor {
	background-position: -64px 0;
}

.player_goal {
	background-position: -128px 0;
}

.box_floor {
	background-position: -192px 0;
}

.box_goal {
	background-position: -256px 0;
}

.goal {
	background-position: -320px 0;
}

.floor {
	background-position: -384px 0;
}